<script type="text/javascript">
	$(function() {
		console.log('here');
		$('#landing-modal').modal('show');
	});
</script>


<div class="modal fade" id="landing-modal" tabindex="-1" role="info" aria-labelledby="landing-modal" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
        	Welcome to Stand Together.
        </h4>
      </div>
      <div class="modal-body">
      	<p>
      		<b> Who are we? </b> Stand Together is a website for those in marginalized communities to share their stories and support each other. Our platform is currently only for those who share the common experience of being undocumented immigrants.
      	</p>
        <p>
          <b> The 'stand together' button <i class="fa fa-users"></i>: </b> This icon is the 'stand together' button, which demonstrates how many people chose to stand with a person and their story.
        </p>
      	<p>
      		<b> To support each other: </b> To support a person's stories, read their story and click the support button at the bottom.
      	</p>
        <p>
          <b> Navigation: </b> There are a number of buttons in our navigation bar at the bottom of the screen to browse through people's stories.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
        	Read stories and support your community
        </button>
        <a type="button" class="btn btn-primary" href="/story">
        	Tell your story
        </a>
      </div>
    </div>
  </div>
</div>