<script type="text/javascript">
	$(function() {
		console.log('here');
		$('#landing-modal').modal('show');
	});
</script>


<div class="modal fade" id="landing-modal" tabindex="-1" role="info" aria-labelledby="landing-modal" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
        	Welcome to Stand Together.
        </h4>
      </div>
      <div class="modal-body">
      	<p>
      		Stand Together is a website for.
      	</p>
      	<p>
      		This is the icon: <i class="fa fa-users"></i>.
      	</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
        	Read stories and support your community
        </button>
        <a type="button" class="btn btn-primary" href="/story">
        	Tell your story
        </a>
      </div>
    </div>
  </div>
</div>