<div class="container">
	<div class="row">
		<h1>About Stand Together</h1>
		<p>
			Here is some helpful text that explains what this site is for.
		</p>
		<p>
			Here is more helpful text.
		</p>
	</div>
</div>