<div class="container">
	<div class="row">
		{{#each stories}}
			<div class="col-md-4">
				<h1><a href="/story/{{_id}}">{{title}}</a></h1>
				<h3>{{stand_with_count}} stand with Jeffrey</h3>
				<img src="{{image1}}" class="img-responsive">
			</div>
		{{/each}}

	</div>
</div>