<div class="container">
	<div class="row">
		{{#each stories}}
		<a href="/story/{{_id}}">
			<div class="col-sm-4">
				<h1>{{title}}</h1>
				<h1><small><i class="fa fa-users"></i> {{stand_with_count}}</small></h1>
				<img src="{{image1}}" class="img-responsive">
			</div>
		</a>
		{{/each}}

	</div>
</div>