{{#if hasLanding}}
	{{> landing_modal}}
{{/if}}

<div class="container">

	<div class="row">
		{{#each stories}}
			<div class="col-sm-4">
				<a href="/story/{{_id}}">
					<h1>{{title}}</h1>
					<h1><small><i class="fa fa-users"></i> {{stand_with_count}}</small></h1>
					<img src="{{image1}}" class="img-responsive">
				</a>
			</div>

			{{#if add_clearfix_after}}
				<div class="clearfix"></div>
			{{/if}}
		{{/each}}

	</div>
</div>