<h1>This page will contain a form for submitting a new story. </h1>
<p> Note that we have title available in the JSON obj </p>

<form>
Title: <input type='text' name='title'/>
Paragraphs: <input type='text' name='paragraphs'/>
Email: <input type='text' name='email'/>
Image 1: <input type='file' name='image1'/>
Image 2: <input type='file' name='image2'/>
<!-- Stand with count -->
<!-- Created Date -->
<!-- Updated Date -->
<input type='submit' value='Submit'/>
</form>

<!-- Schema
  "title": String,
  "paragraphs": Array,
  "email": String,
  "image1": String,
  "image2": String,
  "stand_with_count": Number,
  "created_date": Date,
  "updated_date": Date -->
