//
// Custom overrides of bootstrap variables
// ----------------------------------------------

@navbar-inverse-link-color: white;
@navbar-inverse-bg: #F5A623;
@navbar-inverse-border:                     darken(@navbar-inverse-bg, 3%);
@brand-primary:         #FB6717;